/*# sourceURL=/Users/folusoogunlana/.npm/_npx/55158e48eb5c59f7/node_modules/highlight.js/styles/github.css*/
/*github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/
/*# sourceURL=/Users/folusoogunlana/.npm/_npx/55158e48eb5c59f7/node_modules/md-to-pdf/markdown.css*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 0.6875em; /* 11 pt */
  color: #111;
  margin: 0;
  padding: 50px; /* added by Bo */
}

body > :first-child {
  padding-top: 0;
  margin-top: 0;
}

body > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0.5em 0 0.25em;
}

h5,
h6 {
  padding: 0;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
  text-transform: uppercase;
}

p {
  margin: 0.25em 0 1em;
}

blockquote {
  margin: 0.5em 0 1em;
  padding-left: 0.5em;
  padding-right: 1em;
  border-left: 4px solid gainsboro;
  font-style: italic;
}

ul,
ol {
  margin: 0;
  margin-left: 1em;
  padding: 0 1.5em 0.5em;
}

pre {
  white-space: pre-wrap;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
p code,
li code,
pre code {
  background-color: #f8f8f8;
  padding: 0.1em 0.375em;
  border-radius: 0.25em;
  font-family: monospace;
  font-size: 1.2em;
}

pre code {
  display: block;
  padding: 0.5em;
}

.page-break {
  page-break-after: always;
}

img {
  max-width: 100%;
  margin: 1em 0;
  display: block; /* added by Bo */
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  margin: 0 0 1em;
  width: 100%;
  overflow: auto;
}

table th,
table td {
  padding: 0.5em 1em;
  border: 1px solid gainsboro;
}

table th {
  font-weight: 600;
}

table tr {
  background-color: white;
  border-top: 1px solid gainsboro;
}

table tr:nth-child(2n) {
  background-color: whitesmoke;
}
